@charset "utf-8";

/* CSS Document */

/**************************************************************/
/*****************                        *********************/
/*****************   Interest Page Code   *********************/
/*****************                        *********************/
/**************************************************************/

/* Interest Page Body Cascades - This document is for the styling of the form fields only. Any styles in this sheet will carry over to future brandings. */

/*table css reset*/

#hobsonsIPContentDiv table,
#hobsonsIPContentDiv th,
#hobsonsIPContentDiv td {
	border: 0 none;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}
.hobsonsTextbox {
	/*use to set the width of all text boxes on the page*/
	width: 250px
}
/*To style the form and its feilds*/

.hobsonsIPInnerDiv {
	/*To style all section containers*/
}
.hobsonsIPTitle {
	/*To style each sections title container*/
}
.hobsonsIPSubTitleMessage {
	/*To style text under the titles*/
	margin: 0px 0px 10px 0px;
}
.hobsonsIPParent {
	/*To style question containers*/
	margin: 10px 0px 0px 0px;
}
.hobsonsIPLabelWrapper,
.hobsonsIPAttributeWrapper {
	display: block;
}
.hobsonsIPLabelWrapper {
	/*To style label containers*/
	float: left;
	width: 150px;
	/*To change the width of the left column - Change next two classes if you change this one.*/
}
.divRequiredWrapper {
	/*To style attribute input required message containers*/
	margin-left: 150px;
	/*Need to change this to match the left column width*/
}
.hobsonsIPFieldSubtitle {
	/*To style attribute subtitle message containers*/
	margin-left: 150px;
	/*Need to change this to match the left column width*/
}
.hobsonsIPAttributeWrapper {
	/*To style attribute containers*/
}
.hobsonsIPWidgetDiv {
	/*To style attribute input containers*/
	float: left;
}
.hobsonsClear {
	/*To clear floats*/
	clear: both;
}
.hobsonsIPInstructionalText {
	/*To style instrutional text with in the modules*/
	margin: 0px;
}

/**************************************************************/
/*To move first middle and last name fields to one line - Comment this out to END comment if fields need to be one on a line*/
/**************************************************************/
#hobsonsfirstnameParent,
#hobsonsmiddlenameParent,
#hobsonslastnameParent,
#hobsonsfirstnameParent input,
#hobsonsmiddlenameParent input,
#hobsonslastnameParent input,
#hobsonsIPLabelWrapperfirstname,
#hobsonsIPLabelWrappermiddlename,
#hobsonsIPLabelWrapperlastname {
	float: left;
	margin: 0px 0px 0px 0px;
	width: 150px;
}
/*If usings middle name, not MI, comment out the next area*/
/*#hobsonsmiddlenameParent input,#hobsonsmiddlenameParent,#hobsonsIPLabelWrappermiddlename {
width:20px;
}*/
/*end MI*/

#hobsonsmiddlenameParent,
#hobsonslastnameParent {
	margin-left: 10px;
}
#hobsonsIPWidgetDivfirstname,
#hobsonsIPWidgetDivmiddlename,
#hobsonsIPWidgetDivlastname {
	clear: both;
}
#hobsonsIPLabelWrapperfirstname label,
#hobsonsIPLabelWrapperlastname label,
#hobsonsIPLabelWrappermiddlename label,
.hobsonsRequiredAsterisks {
	font-size: .8em;
}
#hobsonsIPLabelWrapperFullName {
	margin-top: 14px;
}
/*END of move first middle and last name fields to one line*/

/*Comment in if moving names to one per line*/
/*#hobsonsIPLabelWrapperFullName {
display:none;
}
*/

/*Use this area to set the styles for floating fields*/

.hobsonsFloat,
.hobsonsFloat input {
	float: left;
	margin: 0px 10px 0px 0px;
	width: 150px;
}
.hobsonsFloat label {
	font-size: .8em;
}
.hobsonsMultiAttributeLabel {
	margin-top: 14px;
}
/*End float code*/

/* Comment this in to move the Full Name Module lables below their inputs*/

/*
#hobsonsIPLabelWrapperfirstname, #hobsonsIPLabelWrappermiddlename, #hobsonsIPLabelWrapperlastname{
position:absolute;
margin-top: 15px;
}
#hobsonsfirstnameParent, #hobsonsmiddlenameParent, #hobsonslastnameParent{
margin-top:10px;
padding-bottom:5px;
}
*/

#hobsonsIPWidgetRequiredfirstname .required,
#hobsonsIPWidgetRequiredlastname .required {
	/*Style first and last name required messages*/
}
.hobsonshscodeLinkMessage {
	/*this is turned on and off with JS*/
	display: none;
}
.hobsonsQuestionSpacer {
	/*this is a spacer div for adding spaces between questions. If needed, this div has to be turned on in the developer template.*/
}
.hobsonsIPSubtitle {
	font-size: .8em;
	color: #666666;
}
#requiredpolicyMsg {} #hobsonssubmitButtonDiv {
	/*submit button container*/
	margin-top: 15px;
}
/*Adds padding to radio buttons and check box labels*/

#hobsonsIPContentDiv table label {
	padding-left: 6px;
	display: inline;
	/*Make labels and checkboxes display inline*/
}
/*fixes IE7 vertical spacing bug*/

#VerifyLoginloginDiv {
	padding: 0px;
}
.hobsonsIPAttributeWrapper,
.hobsonsIPParent {
	padding-bottom: 1px;
}
/*end vertical spacing bug fix*/

/* This section is for custom formatting on Connect Attributes */

/*#phoneSplit1{width:30px;}
#phoneSplit2{width:30px;}
#phoneSplit3{width:40px;}*/

input[id*='Split1'] {
	width: 4ch !important;
}
input[id*='Split2'] {
	width: 4ch !important;
}
input[id*='Split3'] {
	width: 5ch !important;
}
#ssnSplit1 {
	width: 30px;
}
#ssnSplit2 {
	width: 20px;
}
#ssnSplit3 {
	width: 40px;
}
#zip {
	width: 6ch !important;
}
.verifydate {
	padding-left: 0px;
}
#hobsonsIPgeneralDuplicateError {
	color: #ff0000;
	font-weight: bold;
}
/*

.hobsonsCheckTable
{
   width: auto !important;
}

.hobsonsCheckTable tbody tr td
{
   width: 200px;
}
*/

#ipPasswordPolicyMsg {
	display: none
}
/*Make asterisks display inline with labels*/

#hobsonsIPLabelWrapperfirstname label,
#hobsonsIPLabelWrapperlastname label,
#hobsonsIPLabelWrapperdob label,
#hobsonsIPLabelWrappercountry label,
#hobsonsIPLabelWrapperaddress1 label,
#hobsonsIPLabelWrappercity label,
#hobsonsIPLabelWrapperzip label,
#hobsonsIPLabelWrapperphone label,
#hobsonsIPLabelWrapperemail label,
#hobsonsIPLabelWrapperverifyemail label,
#hobsonsIPLabelWrappertext557 label,
#hobsonsIPLabelWrappertext505 label,
#hobsonsIPLabelWrappertext507 label {
	display: inline;
}