/* CSS Variables for easy customization */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&display=swap');
:root {
    --primary-color: #25384a;
    --secondary-color: #dbdcddab;
    --header-bg-color: #00ff15;
    --header-text-color:#FFFFFF;
    --required-red:#d92632;
}
/* HIDE FROM OLD TEMPLATES */
#hobsonsIPLabelWrapperFullName
{
    display:none !important;
}


/* Typography */
body {
    padding:0;
    margin:0;
    font-family: 'Nunito Sans', sans-serif;
}

/*headerStyles*/
header
{
    display:flex;
    padding:0;
    margin:0;
    min-height:100px;
    background-color:var(--primary-color);
    justify-content: center;
    align-items: center;

}

header a
{
    color:var(--header-text-color);
    text-decoration:none;
    cursor:pointer;
}
header a:hover
{
    color:var(--secondary-color);
}
header nav
{
    display:flex;
    padding: 0;
    margin: 0;
    color: var(--header-text-color); /* Font color */

}

header nav #headLogo
{
    justify-content:left !important;
}

header nav ul
{
    padding:0;
    margin:0;

    display:flex;
}

header nav li
{
    display: flex;
    padding:0;
    margin:0;

    padding: 0 0;
    list-style: none;

}

header nav li a
{
}

/* Section Wrapper */
.hobsonsIPInnerDiv {
    padding: 5px 5px 10px 10px;
     margin: 10px 0px 10px 0px;
    background-color:var(--secondary-color);
}

.hobsonsIPTitle h2 {
    margin:0;
    padding:0;
    font-family: 'Nunito Sans', sans-serif; /* Use your custom Google Font */
    font-weight: 700; /* Bold font-weight */
    color: var(--primary-color); /* Font color */
    padding: 0px 0px 0px 0px; /* Spacing around the text */
    text-align: center; /* Center-align the text */
    position: relative; /* Position for accent shape */
    display: inline-block;
    width:auto;
    border-bottom:var(--header-bg-color) 2px solid;
}

/* Use Font Awesome icons after the text */
.hobsonsIPTitle h2::after {
    content: "\f004"; /* Unicode character code for the Font Awesome icon you want */
    font-family: 'Font Awesome 5 Free'; /* Specify the Font Awesome font family */
    font-weight: 900; /* Bold style for Font Awesome solid icons */
    font-size: 18px; /* Adjust the icon size as needed */
    position: absolute;
    top: 50%;
    right: -30px; /* Adjust the distance from the right side */
    transform: translateY(-50%);
    color: var(--header-bg-color); /* Font color for the icon */
}


.hobsonsIPTitle {
    color: var(--secondary-color);
    font-size: 1em;
}

/* Label Wrapper & Input Fields */
.hobsonsIPLabelWrapper {
    font-weight: bold;
    margin-bottom: 5px;
}

.hobsonsIPWidgetDiv input {
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
}

/* Required Fields */
.hobsonsRequiredAsterisks {
    color: var(--required-red);
}






footer
{
    display:flex;
    padding:0;
    margin:0;
    background-color:var(--primary-color);
    justify-content:center;
    justify-items:auto;
    align-content:baseline;
    align-items:baseline;
    margin-top: auto;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  main {
    display:flex;
    flex-grow: 1;
  }